
.cat-button {
  min-width: 135px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  background-color: #333333;
  color: #FFFF99;
    }

.jokes-number {
    margin-left: 50px;
    }

.refresh {
    margin-left:20px;
    background-color: #333333;
    color: #FFFF99
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    }
    
#jokes-number {
    background-color: #333333;
    color: #FFFF99
    width: 70px;
    padding: 10px;
    border-radius: 4px;
    }

.cat-button-all {
    font-weight: bold;
    }