.jokes-list {
    list-style-type: none;
    }

.jokes-list__li {
  border: 1px solid black;
  border-radius: 10px;
  font-style: italic;
  margin: 10px;
  padding: 10px;
  background-color: #FFFF99;
    }

